{% extends 'base.html.twig' %}

{% block title %}page d'accueil{% endblock %}
{% block monTitre %}Bienvenue dans M2Pointage{% endblock %}
{% block body %}
<div class="container">
<p1> M2pointage est une application de pointage développé pour l’entreprise M2transport, qui a pour but de numériser les feuilles de routes. Une feuille de route est un document dans lequel chaque chauffeur doit remplir à la main ces informations chaque matin.
 A l’aide de M2pointage le chauffeur pourra remplir exactement les mêmes informations de la feuille route mais de façon digitale et de conserver les informations dans la base de donnée.
 les informations peuve etre extarcter en fichier excel ou autre</p1>
</div>
<div class="row no-gutters align-items-center p-2">
              <img src="{{asset('images/back.jpg')}}" class="card-img">
            </div>
{% endblock %}
