{% extends 'base.html.twig' %}

{% block title %}liste des camions{% endblock %}
{% block monTitre %}liste des camions{% endblock %}

{% block body %}
<div class="row no-gutters">
 

 {% endfor %}
</div>
{% endblock %}